.events {
	width: 100%;
	&__toggle {
		width: 100%;
		@extend %title;
		@include flex(row, space-between, center, nowrap);
		@include container(padding);
		padding-top: 0.625rem;
		padding-bottom: 0.625rem;
		color: color(black);
		// font-family: #{$heading-font-family};
		path {
			fill: color(black);
		}
		.icon--down {
			height: 1.125rem;
			transform: rotate(180deg);
			transition: transform $transition;
		}
	}
	&__year {
		border-bottom: 4px solid color(black);
		&--visible {
			.icon--down {
				transform: rotate(0deg);
			}
		}
		&:not(.events__year--visible) {
			.events__events {
				height: 0;
			}
		}
	}
	&__event {
		@include flex(row, flex-start, flex-start, nowrap);
		@include container(padding);
		border-bottom: 4px solid color(black);
		padding-top: $gutter;
		padding-bottom: $gutter;
		&:last-of-type {
			border-bottom: none;
		}
	}
	&__events {
		overflow: hidden;
		transition: height $transition;
	}
	&__title {
		@extend %index-title;
		@media #{$large} {
			padding-right: $gutter;
		}
	}
	&__subtitle {
		@extend %index-subtitle;
		@media #{$large} {
			padding-left: $gutter;
		}
	}
	&__title,
	&__subtitle {
		@media #{$large} {
			width: 50%;
		}
	}
	&__link {
		display: block;
		width: 66.66%;
		padding-right: 2*$gutter;
		@media #{$large} {
			width: 83.33%;
			@include flex(row, flex-start, flex-start, nowrap);
		}
	}
	&__dates {
		width: 33.33%;
		@media #{$large} {
			width: 16.66%;
		}
	}
	&__date {
		font-weight: $bold;
	}
	&__onshow {
		@extend %social-link;
		display: inline-block;
		color: color(white);
		background-color: color(black);
		margin-top: 0.25rem;
	}
}