.hero {
	position: relative;
	&__container {
		width: 40%;
		margin: 30%;
		overflow: visible;
		position: absolute;
		top: 0;
		left: 0;
		&:first-of-type {
			transform: rotate(180deg);
			.hero__circle {
				fill: rgba(255,0,255,0.08);
			}
		}
	}
	&__svg {
		position: absolute;
		top: 0;
		left: 0;
		transform-origin: 10% 50%;
		&:first-of-type {
			position: relative;
		}
	}
	&__circle {
		fill: rgba(0,255,255,0.08);
		
		stroke: color(white);
		stroke-width: 2px;
	}
	path {
		stroke: white;
		stroke-width: 1px;
		transform-origin: center;
	}
}