.gallery {
	position: relative;
	@media #{$large} {
		width: 66.66%;
		padding-right: $gutter;

		// padding-right: $gutter;
	}
	&--show {
		.gallery__items {
			@media (min-width:#{map-get($breakpoints, 'content-width') * 100 / 85}) {
				width: 130%;
				margin-left: -30%;
			}
		}
	}
	&__items {
		height: 100%;
		@media #{$medium-down} {
			width: 100vw;
			margin-left: -5vw;
		}
		// @include flex(row, flex-start, stretch, nowrap);
		@media #{$large} {
			@include left;
			// height: 100%;
		}
		&--early {
			.gallery__figure {
				height: 0;
				// position: absolute;
				// top: 0;
			}
		}
	}
	&__figure {
		position: relative;
		z-index: 1000;
		// &:first-of-type {
		// 	position: relative;
		// }
	}
	&__image {
		// @extend %image;
		padding: 37.5% 50%;
		width: 100%;
		// height: 100%;
		display: flex;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
	}
	&__caption {
		display: none;
	}
	&__meta,
	&__nav {
		@media #{$large} {
			position: absolute;
			right: -1rem;
			transform: translateX(100%);
		}
		@media #{$medium-down} {
			position: absolute;
		}	
	}
	&__meta {
		@media #{$large} {
			top: 43.5rem;
			z-index: 1010;
			font-weight: $bold;
			width: 66.6%;
			span {
				font-weight: $normal;
			}
		}	
		@media #{$medium-down} {
			top: 26rem;
			z-index: 1010;
			font-weight: $bold;
			span {
				font-weight: $normal;
			}
		}
	}
	&__nav {
		@media #{$medium-down} {
			top: 24rem;
			width: 100%;
			left: 0;
			text-align: left;
			bottom: 0.75rem;
			z-index: 1000;
		}
		@media #{$large} {
			margin-bottom: 0.5rem;
			bottom: 0.75rem;
			z-index: 1000;
		}
	}
	&__nav-item {
		width: 1.5rem;
		height: 1.5rem;
		margin-right: 0.6rem;
		
		display: inline-block;
		cursor: pointer;
		border-radius: 0.75rem;

		@media #{$medium-down} {
			border: 5px solid color(black);
			&--active {
				background-color: color(black);
			}
		}
		@media #{$large} {
			border: 5px solid color(black);
			&--active {
				background-color: color(black);
			}
		}
	}
	&--show {
		.gallery__nav {
			@media #{$large} {
				top: 41rem;
			}
		}
	}
	&--frontpage {
		@media #{$large} {
			&:after {
				position: absolute;
				right: 0;
				top: 0;
				bottom: 0;
				width: 0.625rem;
				background-color: color(black);
				display: block;
				content: ' ';
			}
		}
		.gallery__nav-item {
			@media #{$large} {
				border: 5px solid color(white);
				&--active {
					background-color: color(white);
				}
			}
		}
		.gallery__meta {
			display: none;
		}
	}
}